@using Day1.ViewModels
@model InstructorAddVM
@{
    ViewData["Title"] = "Edit";
    var Options = new SelectList(Model.departments, "Id", "Name");
}

<h1>Add</h1>
<form asp-action="Add" asp-controller="Instructor" method="post">
    @* <input type="hidden" name="Id" value="@Model?.Id" /> *@

    <div class="form-group">
        <label asp-for="FName">First Name</label>
        <input asp-for="FName" class="form-control"  />
    </div>

    <div class="form-group">
        <label asp-for="LName">Last Name</label>
        <input asp-for="LName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Salary">Salary</label>
        <input asp-for="Salary" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Img">Upload Image</label>
        <input asp-for="Img" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Age">Age</label>
        <input asp-for="Age" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DeptId">Department</label>
        <select asp-for="DeptId" asp-items="Options" class="form-select">
             <option selected disabled value="">-- Select Department --</option> 
               
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>


